support QUIC and HTTP/3

Jayo will first have to support UDP

HTTP/3 is the third major version of the Hypertext Transfer Protocol used to exchange information on the World Wide Web, complementing the widely-deployed HTTP/1.1 and HTTP/2. Unlike previous versions which relied on the well-established TCP (published in 1974), HTTP/3 uses QUIC, a multiplexed transport protocol built on UDP.
On 6 June 2022, IETF published HTTP/3 as a Proposed Standard in RFC 9114 [1].

HTTP/3 uses similar semantics compared to earlier revisions of the protocol, including the same request methods, status codes, and message fields, but encodes them and maintains session state differently. However, partially due to the protocol's adoption of QUIC, HTTP/3 has lower latency and loads more quickly in real-world usage when compared with previous versions: in some cases over 3× faster than with HTTP/1.1 (which, for many websites, is the only HTTP version deployed).

source : [Wikipedia](https://en.wikipedia.org/wiki/HTTP/3)
[1] RFC 9114 : HTTP/3 also uses the completed QUIC protocol described in RFC 9000 and related RFCs such as RFC 9001